.stylesheet1 {
	font-family: Verdana;
	font-size: 24px;
	font-weight: bold;
}

/*
     FILE ARCHIVED ON 14:59:29 Dec 13, 2024 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 00:18:58 Apr 24, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  capture_cache.get: 23.362
  load_resource: 333.932
  PetaboxLoader3.resolve: 247.456
  PetaboxLoader3.datanode: 74.275 (2)
  loaddict: 58.297
*/